body {
  max-width: 1440px;
  margin: 0 auto;
}

/* --- Cabeçalho --- */
.cabecalho {
  padding: 30px 25px;
  position: relative;
}

.cabecalho .logo {
  background: url(../images/logo.jpg) center center no-repeat;
  width: 85px;
  height: 85px;
  display: inline-block;
}

.cabecalho .logo h1 {
  font-size: 0;
}

.cabecalho nav {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 30px;
  padding-right: 25px;
}

.cabecalho ul li {
  display: inline-block;
  padding: 15px;
}

.cabecalho ul li a:hover {
  font-weight: bold;
}

.cabecalho ul li a {
  font-weight: 400;
}

/* --- Painel --- */
.painel {
  background: url(../images/painel.jpg) center center no-repeat;
  height: 628px;
  position: relative;
}

.painel h2 {
  color: #FFFFFF;
  font-weight: 400;
  width: 702px;
  font-size: 60px;
  line-height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* --- Quem Somos e Onde Estamos --- */
.texto-secao {
  margin: 153px;
  text-align: center;
  clear: both;
}

.texto-secao .logo-secoes {
  width: 170px;
  height: 170px;
  margin-bottom: 70px;
}

.texto-secao h2 {
  font-weight: 600;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.texto-secao p {
  font-size: 18px;
  max-width: 702px;
  text-align: center;
  margin: 0 auto;
}

.texto-secao address {
  font-size: 28px;
  width: 484px;
  margin: 0 auto;
  font-style: normal;
}

/* --- Ladrilho (Painel de Imagens) --- */
.ladrilho:after {
  content: " ";
  clear: both;
  display: block;
}

.ladrilho div {
  float: left;
}

.ladrilho .grande {
  background: url(../images/grande.jpg) center center no-repeat;
  height: 600px;
  width: 50%;
}

.ladrilho .pequeno-01 {
  background: url(../images/pequeno01.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}

.ladrilho .pequeno-02 {
  background: url(../images/pequeno02.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}

.ladrilho .medio {
  background: url(../images/medio.jpg) center center no-repeat;
  height: 300px;
  width: 50%;
}

/* ---Contato --- */
.contato {
  background: url(../images/fundo-contato.jpg) center center no-repeat;
  height: 600px;
  position: relative;
}

.contato div {
  position: absolute;
  left: 50%;
  top: 30%;
}

.contato h2 {
  font-size: 45px;
  margin-bottom: 30px;
  line-height: 56px;
}

.contato address {
  font-size: 25px;
  font-style: normal;
  width: 342px;
  line-height: 31px;
}

.contato :where(h2, address) {
  font-weight: 600;
  color: #FFFFFF;
}

/* --- Rodapé --- */
.rodape {
  background: url(../images/fundo-rodape.jpg) center center no-repeat;
  background-size: cover;
  padding: 35px 30px;
  clear: both;
}

.rodape :where(ul li a, .copyright, .redes-sociais a) {
  color: #FFFFFF;
}

.rodape ul {
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.rodape ul li {
  display: inline-block;
  padding: 15px;
}

.rodape ul li a {
  font-weight: 400;
}

.rodape ul li a:hover {
  font-weight: bold;
}

.copyright {
  user-select: none;
  font-size: 15px;
}

.redes-sociais {
  float: right;
}

.redes-sociais a {
  margin: 10px;
}

.facebook:hover {
  color: #4267B2;
}

.whatsapp:hover {
  color: #25D366;
}

.twitter:hover {
  color: #1DA1F2;
}

.youtube:hover {
  color: #FF0000;
}

.conteudo-de-baixo {
  margin-top: 40px;
}