body {
  max-width: 1440px;
}

/* --- Cabeçalho --- */
.cabecalho {
  padding: 30px 25px;
  position: relative;
}

.cabecalho .logo {
  background: url(../images/logo.jpg) center center no-repeat;
  width: 85px;
  height: 85px;
  display: inline-block;
}

.cabecalho .logo h1 {
  font-size: 0;
}

.cabecalho nav {
  display: inline-block;
  margin-top: 30px;
  position: absolute;
  right: 0;
  padding-right: 25px;
}

.cabecalho ul li {
  display: inline-block;
  padding: 15px;
}

.cabecalho ul li a:hover {
  font-weight: bold;
}

.cabecalho ul li a {
  font-weight: 400;
}

/* --- Painel --- */
.painel {
  background: url(../images/painel.jpg) center center no-repeat;
  height: 628px;
  position: relative;
}

.painel h2 {
  color: #FFFFFF;
  font-weight: 400;
  width: 702px;
  font-size: 60px;
  line-height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* --- Quem Somos e Onde Estamos --- */
.texto-secao {
  margin: 153px;
  text-align: center;
  clear: both;
}

.texto-secao .logo-secoes {
  width: 170px;
  height: 170px;
  margin-bottom: 70px;
}

.texto-secao h2 {
  font-weight: 600;
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.texto-secao p {
  font-size: 18px;
  max-width: 702px;
  text-align: center;
  margin: 0 auto;
}

.texto-secao address {
  font-size: 28px;
  width: 484px;
  margin: 0 auto;
  font-style: normal;
}

/* --- Ladrilho (Painel de Imagens) --- */
.ladrilho:after {
  content: " ";
  clear: both;
  display: block;
}

.ladrilho div {
  float: left;
}

.ladrilho .grande {
  background: url(../images/grande.jpg) center center no-repeat;
  height: 600px;
  width: 50%;
}

.ladrilho .pequeno-01 {
  background: url(../images/pequeno01.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}

.ladrilho .pequeno-02 {
  background: url(../images/pequeno02.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}

.ladrilho .medio {
  background: url(../images/medio.jpg) center center no-repeat;
  height: 300px;
  width: 50%;
}