body {
  max-width: 1440px;
}

/* --- Cabeçalho --- */
.cabecalho {
  padding: 30px 25px;
  position: relative;
}

.cabecalho .logo {
  background: url(../images/logo.jpg) center center no-repeat;
  width: 85px;
  height: 85px;
  display: inline-block;
}

.cabecalho .logo h1 {
  font-size: 0;
}

.cabecalho nav {
  display: inline-block;
  margin-top: 30px;
  position: absolute;
  right: 0;
  padding-right: 25px;
}

.cabecalho ul li {
  display: inline-block;
  padding: 15px;
}

.cabecalho ul li a:hover {
  font-weight: bold;
}

.cabecalho ul li a {
  font-weight: 400;
}

/* --- Painel --- */
.painel {
  background: url(../images/painel.jpg) center center no-repeat;
  height: 628px;
  position: relative;
}

.painel h2 {
  color: #FFFFFF;
  font-weight: 400;
  width: 702px;
  font-size: 60px;
  line-height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}